/* GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL  */
html {
     scroll-behavior: smooth;
}

body {
     font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     font-weight: bold;
}

ul, ol {
     list-style: none;
}

img {
     max-width: 100%;
     height: auto;
}

section {
     padding: 45px 0 45px 0;
}

section .heading {
     text-align: center;
     padding-bottom: 40px;
}

.blue-divider {
     width: 100px;
     height: 2px;
     background-color: #192a56;
     margin: 0 auto 20px auto;
}

.white-divider {
     width: 100px;
     height: 2px;
     background-color: #fff;
     margin: 0 auto 20px auto;
}

section h2 {
     font-size: 1.5rem;
     text-transform: uppercase;
}

/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
.navbar {
     font-size: 12px;
     letter-spacing: 3px;
     text-transform: uppercase;
     font-weight: bold;
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
     display: inline-block;
     float: none;
     vertical-align: top;
} 

.navbar ul {
     text-align: center;
}

.navbar li {
     padding-left: 20px;
}

.navbar a {
     color: #fff !important;
     height: 35px;
     transition: ease 0.2s;
}

.navbar a:hover {
     font-size: 1rem;
     color: #fff !important;
}

.navbar .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
     border-color: #fff;
}

/*  ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
#about {
     padding-top: 100px;
     background-image: url('/img/Uyuni_blackandwhite.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     transition: background-image 0.5s ease-out;
}

#about:hover {
     background-image: url('/img/Uyuni.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}

.profile-picture {
     text-align: center;
     margin: 0 auto;
     float: none;
}

#about .heading h1 {
     max-width: 430px;
     padding: 5px;
     margin: 20px auto 10px;
     border-radius: 7px;
     background-color: rgba(60, 88, 158, 0.8);
     font-size: 2rem;
     color: #fff;
     text-transform: uppercase;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#about .heading .thuan {
     transition: ease-out 0.2s;
}

#about .heading .thuan:hover {
     margin-left: 10px;
}

#about .heading h3 {
     width: 270px;
     padding: 5px;
     margin: 0 auto;
     border-radius: 7px;
     color: #fff;
     font-size: 1.1rem;
     background-color: rgba(25, 42, 86, 0.2);
}

#about .titrepro {
     transition: 0.2s ease;
}

#about .titrepro:hover {
     margin-left: 5px;
     margin-right: 5px;
}

#about .button1 {
     margin-top: 10px;
     text-transform: uppercase;
     color: #fff;
     border: 1px solid white;
     font-size: 0.8rem;
}

#about .button1:hover {
     background-color: #fff;
     color: #192a56;
     transition: all 0.3s ease-in;
}


/* COMPETENCES COMPETENCES COMPETENCES COMPETENCES COMPETENCES COMPETENCES COMPETENCES COMPETENCES COMPETENCES COMPETENCES */
#skills {
     background-color: #fff;
}

#skills .heading h2{
     color: #192a56;
}

#skills  .container .progress {
     margin-bottom: 10px;
     height: 25px;
}

#skills .container .progress-bar {
     background-color: #DD4B25;
}

#skills .container .bg-bootstrap {
     background-color: #533B78;
}

#skills .container .bg-php {
     background-color: #7377AD;
     opacity: .6;
}

#skills .container .bg-mysql {
     background-color: #00618A;
     opacity: .4;
}

#skills  .container .progress h5 {
     font-size: 0.8rem;
     font-weight: 500;
     text-transform: uppercase;
     margin-bottom: 0;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}


/* EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES EXPERIENCES */
#experiences {
     background: #192a56;
}

#experiences .heading h2{
     color: #fff;
}

.timeline {
     padding: 30px 10px;
     position: relative;
}

.timeline::before {
     content: '';
     top: 0;
     bottom: 0;
     position: absolute;
     width: 5px;
     background: #333;
     left: 50%;
     margin-left: -2.5px;
}

.timeline > li {
     margin-bottom: 20px;
     position: relative;
}

.timeline > li::after {
     clear: both;
}

.timeline > li::before, .timeline > li::after {
     content: '';
     display: table;
}

.timeline li .timeline-badge {
     color: #192a56;
     width: 50px;
     line-height: 50px;
     font-size: 20px;
     text-align: center;
     position: absolute;
     top: 16px;
     left: 50%;
     margin-left: -25px;
     background-color: #ddd;
     border-radius: 50%;
}

.timeline-panel-container {
     width: 50%;
     float: left;
}

.timeline-panel-container-inverted {
     width: 50%;
     float: right;
}

.timeline-panel {
     width: 90%;
     float: right;
     margin-right: 40px;
     border: 1px solid #d4d4d4;
     border-radius: 7px;
     padding: 20px 25px;
     position: relative;
     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
     background-color: #fff;
}

.timeline-panel-container-inverted .timeline-panel {
     float: left;
     margin-left: 40px;
}

.timeline-panel::after {
     content: '';
     position: absolute;
     top: 27px;
     right: -14px;
     display: inline-block;
     border-top: 14px solid transparent;
     border-left: 14px solid #fff;
     border-right: 0 solid #fff;
     border-bottom: 14px solid transparent;
}

.timeline-panel-container-inverted .timeline-panel::after {
     left: -14px;
     border-left: 0 solid #fff;
     border-right: 14px solid #fff;
     right: auto;
}

.timeline-heading h3 {
     margin-top: 5px;
     font-size: 20px;
}

.timeline-heading h4 {
     color: #192a56;
     margin-top: 5px;
     font-size: 20px;
}

.timeline-body p {
     margin-bottom: 0.6rem;
}


/* EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION EDUCATION  */
#education {
     background: #fff;
}

#education .heading h2 {
     color: #192a56;
}

.education-block {
     width: 80%;
     margin: 0 auto;
     text-align: center;
     padding: 30px;
     background: #ddd;
     border-radius: 7px;
     border: 2px solid #ccc;
     margin-bottom: 20px;
}

.education-block h5 {
     color: #888;
     font-size: 15px;
     margin-bottom: 15px;
}

.education-block i {
     font-size: 30px;
}

.education-block h3 {
     color: #192a56;
}

.education-block h4 {
     margin-bottom: 20px;
     font-size: medium;
}

.education-block .blue-divider {
     margin-bottom: 20px;
}


/* PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO */
#portfolio {  
     background: #192a56;
}

#portfolio .heading h2 {
     color: #fff;
}

#portfolio .col-sm-4 {
     margin-bottom: 20px;
}

#portfolio img {
     width: 100%;
     height: 100%;
     filter: grayscale(50%);
     -webkit-filter: grayscale(50%);
     transition: .3s;
}

#portfolio img:hover {
     filter: none;
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
#contact {
     background: #fff;
     color: #192a56;
}

#contact .heading h2 {
     color: #192a56;
}

#contact .content{
     text-align: center;
}

#contact .content p{
     display: inline-block;
     text-align: center;
     margin: 0 30px;
     animation: heartbeat 3s ease-in-out infinite both;
}
   @keyframes heartbeat {
     from {
          transform: scale(1);
          transform-origin: center center;
          animation-timing-function: ease-out;
     }
     10% {
          transform: scale(0.91);
          animation-timing-function: ease-in;
     }
     17% {
          transform: scale(0.98);
          animation-timing-function: ease-out;
     }
     33% {
          transform: scale(0.87);
          animation-timing-function: ease-in;
     }
     45% {
          transform: scale(1);
          animation-timing-function: ease-out;
     }
   }
   


/* RECOMMANDATIONS RECOMMANDATIONS RECOMMANDATIONS RECOMMANDATIONS RECOMMANDATIONS RECOMMANDATIONS RECOMMANDATIONS RECOMMANDATIONS */
#recommandations {
     background:#fff;
}

#recommandations .heading h2 {
     color: #192a56;
}

#myCarousel a {
     color: #192a56;
}

.carousel-indicators {
     position: relative;
}

.carousel-indicators li {
     position: absolute;
     top: 10px;
}

.carousel-indicators li.active {
     background-color: #192a56;
}

.carousel-item {
     padding: 20px 30px;
}

.carousel-item h3 {
     color: #192a56;
     font-style: italic;
}


/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
     background-color: #333;
     padding: 40px 0 40px;
     z-index: 1;
}

footer i {
     font-size: 1.5rem;
     color: white;
     padding-bottom: 20px;
     transition: 300ms ease;
     height: 50px;
}

footer i:hover {
     font-size: 1.6rem;
}

footer h5 {
     color: #fff;
     font-weight: 300;
     font-size: 1rem;
}


/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES */
@media(max-width: 576px) {
     #myNavbar {
          padding-bottom: 10px;
     }
}